<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thesis Management Dashboard</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <h1>Welcome to Thesis Management Dashboard</h1>
    <ul>
		<li><a href="/api/themes">List of themes</a></li>
		<li><a href="/api/submit-theme-teacher">Submit theme</a></li>
		<li><a href="/api/assign">Assign themes(Admin only)</a></li>
		<li><a href="/api/scheduleDefence">Schedule defence</a></li>
		<li><a href="/api/insertGrade">Grade defence</a></li>
		<li><a href="/api/scheduleFinalDefence">Schedule final defence</a></li>
		<li><a href="/api/insertFinalGrade">Grade final defence</a></li>
		<li><a href="/api/studentSuccessRates">Student success rate</a></li>
    </ul>
</body>
</html>
