<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>University Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        #container {
            margin: auto;
            max-width: 500px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="container" class="container">
        <h1>University Login</h1>
        <form action="#" th:action="@{/api/loginuni}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Login</button>
        </fo>
        <div th:if="${param.error}">
            <p style="color: red;">Username doesn't exist</p>
        </div>
    </div>
</body>
</html>
